* {
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    background: url("./images/page-background.png");
    background-size: cover;
    margin: 0;
    color: #293264;
}

h2,
ul,
p{
    margin: 0;
    padding: 0
}


/* question-section */

.question-title {
    font-size: 16px;
    font-weight: bold;
}

section ul {
    display: flex;
    gap: 12.71px;
    list-style-type: none;
}

section hr {
    color: #DBDEF0;
}

.question-option {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 10.24px;
    border: 1px solid #4D5B9E;
    border-radius: 7.94px;
    padding: 4.02px 19px;
    margin: 11.98px 0 14.99px;
    cursor: pointer;
}

/* main section */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 75px 0;
}

.btn {
    font-weight: 600;
    border: none;
    background-color: #4D5B9E;
    color: #F5F7FB;
    cursor: pointer;
}

.check-answers-btn {
    display: block;
    font-size: 14.24px;
    border-radius: 10px;
    padding: 11px 22px;
    margin: 20px auto 25px;
}

.play-again-btn {
    font-size: 14.24px;
    border-radius: 10px;
    padding: 8px 22px;
    margin-left: 10px;
}

.start-quiz-btn {
    font-size: 16px;
    padding: 16.25px 38.81px;
    border-radius: 15px;
    margin-top: 29px; 
}

.intro-container {
    position: fixed;
    top: 45%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    text-align: center;
}

.intro-container h2 {
    font-size: 31.25px;
}

.intro-container p {
    margin-top: 10px;
    font-family: Inter;
}

.end-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.end-message {
    color: #293264;
    font-size: 17.8px;
    font-weight: bold;
}